PruebaJulioBolano/Connected Services/WsContactenos/ServicioContactenos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioContactenos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49215/Servicios/ServicioContactenos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49215/Servicios/ServicioContactenos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49215/Servicios/ServicioContactenos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioContactenos_GetTiposDocumentos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTiposDocumentos" />
  </wsdl:message>
  <wsdl:message name="IServicioContactenos_GetTiposDocumentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTiposDocumentosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioContactenos_SetContactenos_InputMessage">
    <wsdl:part name="parameters" element="tns:SetContactenos" />
  </wsdl:message>
  <wsdl:message name="IServicioContactenos_SetContactenos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetContactenosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioContactenos">
    <wsdl:operation name="GetTiposDocumentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioContactenos/GetTiposDocumentos" message="tns:IServicioContactenos_GetTiposDocumentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioContactenos/GetTiposDocumentosResponse" message="tns:IServicioContactenos_GetTiposDocumentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetContactenos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioContactenos/SetContactenos" message="tns:IServicioContactenos_SetContactenos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioContactenos/SetContactenosResponse" message="tns:IServicioContactenos_SetContactenos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ServicioContactenos" />
</wsdl:definitions>